html {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
  color: #acacac;
  padding-bottom: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  position: relative;
  max-width: 90%;
}

.home-content {
  position: absolute;
  top: 0;
  color: #fff;
  text-shadow: 2px 2px 2px #111111;
}

.home-intro {
  left: 50;
}

.video-carousel {
  left: 0;
}

.carousel-video-info {
  padding-left: 25px;
  background-image: linear-gradient(to right, rgba(3,3,3,0.3), rgba(3,3,3,0), rgba(3,3,3,0));
  color: #fff;
  text-shadow: 2px 2px 2px #111111;
}

.carousel-video-info:hover {
  background-image: linear-gradient(to right, rgba(3,3,3,0.7), rgba(3,3,3,0.3), rgba(3,3,3,0));
}

.home-intro-paragraph {
  line-height: 75%;
}
